<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>

<div class="main-container">
  <h1>Add a new comment</h1>
		<%= form_with model: @comment, url: user_post_comments_path(user_id: @user.id, post_id: @post.id) do |f|%>
	  <div class="form">
	    <%= f.text_field :Title, placeholder: "Add your comment", required: true, class: "input" %>
		  <%= f.submit "Add comment", placeholder: "Submit", class: "submit-btn" %>
		</div>
	<%end%>
</div>