<div class="user">
	<div class="user-img">
		<%= image_tag("user.png")%>
	</div>
	<div class="user-text border">
		<h2 class="user-heading"><%= link_to user.Name, user%></h2>
		<p class="user-posts">Number of posts: <%= user.PostsCounter%></p>
	</div>
</div>
