<div class="main-container">
	<div class="users-container content">
		<% if @users.blank? %>
		  <p>There are no users</p>
		<% else %>
		  <% @users.each do |user| %>
			  <%= render partial: "user", locals: {user: user} %>
		  <% end %>
		<% end %>
	</div>
</div>